@import (less) "../node_modules/emojize/sprite/emoji.css";

@primary: #c50202;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica Neue, sans-serif;
  > section {
    display: flex;
    flex-direction: row;
    background-position: center;
    background-size: cover;
  }

}

a, a:hover, a:visited, a:active {
  color: @primary;
  text-decoration: none;
}

.emoji {
  zoom: 0.35;
}

.schedule {
  flex-grow: 1;
  width: 50%;
}

.tweets {
  flex-grow: 1;
  width: 50%;
  margin: 0;
  padding: 0;
}

.tweet {
  position: relative;
  background-color: #f7f7f7;
  color: #111111;
  display: block;
  padding: 20px;
  margin: 20px;
  margin-bottom: 0;
  border-radius: 5px;
  box-shadow: 0 0 1px black;
  overflow: hidden;
  text-shadow: 0 0 15px white;

  .screenname {
    font-weight: bold;
    font-size: 36px;
  }

  .text {
    font-size: 24px;
  }

  .info {
    margin-left: 113px;

    img {
      display: block;
      width: 100%;
      margin: 10px;
      margin-bottom: 0;
    }
  }

  > img {
    position: absolute;
    top: 20px;
    left: 20px;
    display: block;
    height: 73px;
    width: 73px;
    border-radius: 100%;
  }
}

.tweet-animation {
  &, &.ng-enter, &.ng-leave, &.ng-move {
  -webkit-transition: 0.5s ease-out all;
  transition: 0.5s ease-out all;
  }

  &.ng-enter {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  &.ng-leave.ng-leave-active, &.ng-move.ng-move-active {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }

  &.ng-leave, &.ng-move, &.ng-enter.ng-enter-active {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

