<html ng-controller="SiteCtrl" ng-cloak>
<head>
  <title ng-bind="config.title || 'Twitterwall'">Twitterwall</title>
  <link rel="stylesheet" type="text/css" href="bundle.css">
</head>
<body>
  <section id="main" ng-style="{
    'background-image': 'url(' + background + ')'
  }">
    <div class="schedule" ng-controller="ScheduleCtrl">
      <div class="general">
        <h1>
          <a>{{config.hashtag}}</a>
        </h1>
        <div class="sponsor" ng-controller="SponsorCtrl">
          <img ng-src="{{sponsor.image}}">
        </div>
      </div>
      <div class="nextup">
        <h2><span ng-style="nextUp.style.spacename">{{nextUp.space_name}}</span> {{nextUp.title}}</h2>
        <h3>{{nextUp.subtitle}}</h3>
        <div class="speakers">
          <div ng-repeat="speaker in nextUp.speakers">
            <img ng-src="{{speaker.image}}">
            <div>{{speaker.title}}</div>
          </div>
        </div>
      </div>
    </div>
    <ul class="tweets" ng-controller="TweetCtrl">
      <img class="preloader">
      <tweet
        ng-repeat="tweet in tweets track by tweet.id"
        tweet="tweet"
        class="tweet-animation">
      </tweet>
    </ul>
  </section>
  <flash-message></flash-message>
  <script type="text/javascript" src="bundle.js"></script>
</body>
</html>
