<html ng-controller="SiteCtrl" ng-cloak>
<head>
  <title>{{config.title || 'Twitterwall'}}</title>
  <link rel="stylesheet" type="text/css" href="bundle.css">
</head>
<body>
  <img class="preloader">
  <section ng-style="{
    'background-image': 'url(' + background + ')'
  }">
    <div class="schedule" ng-controller="ScheduleCtrl">
      <div class="general">
        <h1>
          <a>{{config.hashtag}}</a>
        </h1>
      </div>
      <div class="nextup">
        <h2>{{nextUp.title}}</h2>
        <h3>{{nextUp.subtitle}}</h3>
        <div class="speakers">
          <div ng-repeat="speaker in nextUp.speakers">
            <img ng-src="{{speaker.image}}">
            <div>{{speaker.title}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="sponsor" ng-controller="SponsorCtrl">
    </div>
    <ul class="tweets" ng-controller="TweetCtrl">
      <li ng-repeat="tweet in tweets track by tweet.id" class="tweet tweet-animation">
        <img class="user-img"
          ng-src="{{tweet.user.profile_image_url_https}}"
          ng-style="{
            'border': '4px solid #'+ tweet.user.profile_background_color
          }"
        >
        <div class="info">
          <span class="screenname">@{{tweet.user.screen_name}}</span>
          <time relative datetime="{{tweet.created_at}}"></time>
          <div class="text" ng-bind-html="linkTweet(tweet)"></div>
          <div class="media" ng-repeat="media in tweet.entities.media">
            <img class="media-img" ng-src="{{linkMedia(media)}}">
          </div>
          <div class="media" ng-repeat="url in tweet.entities.urls" ng-if="url.expanded_url_mp4">
            <video class="media-img" autoplay loop muted>
              <source ng-src="{{url.expanded_url_mp4}}" type="video/mp4">
            </video>
          </div>
          <div class="media" ng-repeat="url in tweet.entities.urls" ng-if="url.expanded_url_img">
            <img class="media-img" ng-src="{{url.expanded_url_img}}">
          </div>
        </div>
      </li>
    </ul>
  </section>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="bundle.js"></script>
</body>
</html>
